@font-face {
    font-family: 'Adam Medium';
    src: url(../Fontes/Adam-Medium.ttf) format('truetype');
  }

:root{
    /* Cores */
    --maincolor: #6b3136;
    --accent-color: #9b4e3f
    --secondary-color: #E9EAE1;
    --dourado: #d3af37;
    --BrancoPadrao: #fff;
    --light-gray-color: #dfdfdf;
    --dark-gray-color: #333333;

    

    /* Fontes */
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: "Bebas Neue", cursive;
    --logo-font: "Adam Medium";
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #E9EAE1, #a8a8a86e, #E9EAE1);
}

 /* Default styles */
    .header {
      background-image: url("../ImagensNF/projetoFantasia02.jpg");
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: stretch;
      justify-content: center;
      padding-top: 60px;
    }

    .header-text {
      background-color: white;
      padding: 20px;
      width: 300px;
      text-align: left;
      font-size: 1.2em;
      margin-right: 70%;
      margin-top: 10px;
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
      

    .header-text h1{
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: var(--logo-font);
        font-size: 2.0em;
        text-align: center;
      }

    .header-text p {
        text-indent: 5px;
        font-size: 1.1em;
        padding: 1em;
    }

    .navbar {
      font-weight: bold;
      display: flex;
      background-color: rgb(255, 255, 255);
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    nav a {
        font-size: 1.0em;
        padding: 0.9em;
        text-decoration: none;
        color: #222;
        text-decoration: none; 
        transition: 0.3s ease-in-out;
        text-transform: uppercase; 
        
    }



    .header:not(:first-child) .navbar {
      background-color: white;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-top: 0px;
        padding-top: 30px;
        padding-bottom: 50px;
        background-color: var(--light-gray-color);
        text-shadow: 1px 3px 3px rgba(17, 17, 17, 0.24);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: var(--dark-gray-color)
    }

    .project-grid h3 {
        font-size: 2.3rem;
        margin-top: 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .project-grid p {
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 20px;
    }

.project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .project-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 20%;
        margin: 0.5rem;
        height: auto;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
    }

.project-image:hover {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
    cursor: zoom-in;
    box-shadow: 0px 1px 15px var(--maincolor);
}

    .services {
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px;
        color: var(--BrancoPadrao);
        background-image: linear-gradient(var(--maincolor), #411c20);
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .services h2 {
        display: block;
        padding: 5px;
        color: var(--dourado);
        text-align: center;
        font-size: 2.3em;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-shadow: 1px 3px 3px rgba(17, 17, 17, 0.425);
    }

    .services p {
        text-indent: 5px;
        font-size: 1.2em;
        text-align: left;
        letter-spacing: 0.05em;
        line-height: 1.5em;
        max-width: 900px;
        padding: 6px;
        margin: 0 auto;
        margin-top: 1em;
        text-shadow: 1px 3px 3px rgba(17, 17, 17, 0.425);
        margin-bottom: 2em;
    }

    .services .service {
      margin: auto;
      align-items: center;
      margin-bottom: 20px;
    }

    .services hr {
    
        margin: 3em auto;
        border: 0;
        height: 10px;
        background-image: linear-gradient(to right, #47000000, #441f22, rgba(0, 0, 0, 0));
    }


    .about {
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px;
        color: var(--BrancoPadrao);
        background-image: linear-gradient(var(--maincolor), #411c20);
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    

    .about h2 {
            display: block;
            padding: 5px;
            color: var(--dourado);
            text-align: center;
            font-size: 2.3em;
            margin-bottom: 10px;
            text-transform: uppercase;
            text-shadow: 1px 3px 3px rgba(17, 17, 17, 0.425);
    }

    .about .about-text {
        text-indent: 5px;
        font-size: 1.2em;
        text-align: left;
        text-justify: inter-word;
        letter-spacing: 0.05em;
        line-height: 1.5em;
        max-width: 900px;
        padding: 6px;
        margin: 0 auto;
        margin-top: 1em;
        text-shadow: 1px 3px 3px rgba(17, 17, 17, 0.425);
        margin-bottom: 2em;
    }

    .contact {
      background-color: lightgray;
      padding: 20px;
      text-align: center;
    }

    .contact h2 {
      margin-bottom: 20px;
    }

    .contact .contact-info {
      margin-bottom: 20px;
    }

    .contact .contact-info a {
      color: black;
    }

    /* Media queries */
    @media (max-width: 768px) {
        .header {
          height: 60vh;
        }
  
        .header-text {
          font-size: 1em;
          padding: 0.5em;
          margin-left: 3em;
          margin-top: 0;
          
        }
  
        .project-image {
            width: 40%;
        }

        .navbar {
            height: 6.5vh;
            
        }
      }